*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.green
{
    background-color: green;
    height: 500px;
    width: 75%;
    float: left;
}
.red
{
    background-color: red;
    width: 25%;
    float: left;
    height: 500px;
    padding: 50px 100px;
    border: 5px solid black;
}
.yellow
{
    background-color: yellow;
}